*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: oklch(98.5% 0 0);
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100%;
  background-color: oklch(62.3% 0.214 259.815);
}

button,
input {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

body {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin: 0 auto;
}

.headingContainer {
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
}

.gameboard {
  margin-top: 30px;
  width: 600px;
  height: 600px;
  background-color: oklch(98.5% 0 0);
  display: flex;
  flex-wrap: wrap;
  border: 5px solid oklch(45.9% 0.187 3.815);
}

.gameCube {
  height: 197px;
  width: 196.6px;
  color: oklch(45.9% 0.187 3.815);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid oklch(45.9% 0.187 3.815);
}

.buttonsContainer {
  margin-top: 30px;
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.restartBtn {
  width: 240px;
  height: 40px;
  background-color: oklch(98.5% 0 0);
  color: black;
  font-size: 1.35rem;
  border-radius: 8px;
}

.scorePara {
  width: 240px;
  height: 40px;
  font-size: 1.35rem;
  background-color: oklch(98.5% 0 0);
  color: black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#winnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 100;
}

#winnerOverlay.show {
  opacity: 1;
  pointer-events: all;
  animation: bounceIn 0.5s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modalContent {
  background: black;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.modal input,
.modal select,
.modal button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  border-radius: 3px;
}

#playerName {
  background-color: white;
}

.startGameBtn {
  background-color: white;
  border-radius: 3px;
}
